.title {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: left;
    white-space: nowrap;
    background: linear-gradient(to right, #034f8a 0%, #cc0001 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
    .navbar-default > .container-fluid {   
        display: flex;
        justify-content: center;
    }
}

#navBar {
    font-size: 16px;
}

.btn-group { 
    margin-left: 20px;
    margin-right: 20px;
}

.format {
    max-width: 850px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.web {
    width: 100%;
    display: inline-block;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.shinysky-busy-indicator {
    width: 20%;
    z-index: 1000;
}

footer {
    margin-top: -7px;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    z-index: -1;
    background-color: #eeeeee;
}

.balk a {
    text-decoration: none;
    outline: none;
}

.balk a:hover {
    text-decoration: none;
    outline: none;
}
